/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";

/***Global***/
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

$body-bg: #F6F7F8; /*Body Background*/
$font-family-sans-serif: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-default-bg: white; /*Navbar background color*/
$navbar-default-border: white;
$navbar-default-link-color: black; /*Navbar font color*/
$navbar-default-brand-color: #bd081c;/*Text Logo Color*/
$jumbotron-bg: white; /*Jumbotron*/
$btn-primary-bg: #bd081c; /*Primary button color*/

@import "bootstrap";

.navbar-default {
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	border-radius: 0px;
}

.navbar-brand {
	font-weight: bold;
}
















